  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
  .circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
 }
@tailwind base;
@tailwind components;
@tailwind utilities;
